
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CX</title>
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/javascript/jquery-1.7.2.js"></script>
</head>
<body>
         @*@{List<major_change> list = ViewBag.list;
             int currentPage = ViewBag.currentPage;
             int pageSize = ViewBag.pageSize;
             var pages = ViewBag.pages;
             int rows = ViewBag.rows;
         }*@
        @{DataTable dt = ViewBag.data;
          int currentPage = ViewBag.currentPage;
          int pageSize = ViewBag.pageSize;
          var pages = ViewBag.pages;
          int rows = ViewBag.rows;
        }
    <div>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1" id="tb">
            <tr height="21">
                <td width="19%" class="TD_STYLE1">
                    I级机构
                </td>
                <td width="19%" class="TD_STYLE1">
                    II级机构
                </td>
                <td width="19%" class="TD_STYLE1">
                    Ⅲ级机构
                </td>
                <td width="19%" class="TD_STYLE1">
                    薪酬标准
                </td>
                <td width="19%" class="TD_STYLE1">
                    名字
                </td>
                <td width="5%" class="TD_STYLE1">
                    调动
                </td>
            </tr>
            @foreach (DataRow dr in dt.Rows) { 
                <tr height="21" id="one">
                    <td class="TD_STYLE2">
                        @dr["first_kind_name"]
                    </td>
                    <td class="TD_STYLE2">
                        @dr["second_kind_name"]
                    </td>
                    <td class="TD_STYLE2">
                        @dr["third_kind_name"]
                    </td>
                    <td class="TD_STYLE2">
                        @dr["salary_standard_name"]
                    </td>
                    <td class="TD_STYLE2">
                        @dr["human_name"]
                    </td>
                    <td class="TD_STYLE2">
                        <a href='/major_change/major_changeUpdate/@dr["huf_id"]'>调动</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div align="center" style="font-size: 18px;color: gray">
    &nbsp;&nbsp;总数：
    <font style="color: maroon;font-weight: bold;">@rows</font>
    例
    &nbsp;&nbsp;&nbsp;
    每页显示 <font style="color: maroon;font-weight: bold;">@pageSize</font>
    条
    &nbsp;&nbsp;&nbsp;
    当前第 <font style="color: maroon;font-weight: bold;" id="page">@currentPage</font>
    页
    &nbsp;&nbsp;&nbsp;共
    <font style="color: maroon;font-weight: bold;">@pages</font>
    页
    <a style="color: navy;font-weight: bold" href="javascript:doPage(1)" id="first">首页</a>

    <a style="color: navy;font-weight: bold"
       href="javascript:doPage(0)" id="prev">上一页</a>

    <a style="color: navy;font-weight: bold" id="next">下一页</a>

    <a style="color: navy;font-weight: bold"
       href="javascript:doPage(2)" id="last">末页</a>
    &nbsp;&nbsp;&nbsp;跳到第
    <input id="pages" type="text"  class="input1" size=1>
    页&nbsp;&nbsp;
    <input type="image" id="tiao" src="../../images/go.bmp" width=18 height=18 border=0>
    </div>
    <script type="text/javascript">
        $(function () {
            var currentPage = 1;
            var pages=@ViewBag.pages
            $("#next").click(function () {
                if(currentPage<pages){
                    currentPage++;
                    $.ajax({
                        url: "/major_change/Index1/null?currentPage=" + currentPage,
                        type: "post",
                        success: function (msg) {
                            var di = eval("(" + msg + ")");
                            var list = di["list"];
                            var pages = di["pages"];
                            $("#tb tr:gt(0)").remove();
                            for (var item in list) {
                                $tr = $("<tr></tr>");
                                $td1 = $('<td>' + dt[i]["first_kind_name"] + '</td>');
                                $td2 = $('<td>' + dt[i]["second_kind_name"] + '</td>');
                                $td3 = $('<td>' + dt[i]["third_kind_name"] + '</td>');
                                $td4 = $('<td>' + dt[i]["salary_standard_name"] + '</td>');
                                $td5 = $('<td>' + dt[i]["human_name"] + '</td>');
                                $td6 = $("<td class='TD_STYLE2'> <a href='/major_change/major_changeUpdate/" + dt[i]["huf_id"] + "'>调动</a></td>");
                                $tr.append($td1, $td2, $td3, $td4, $td5, $td6);
                                $("#tb").append($tr);
                                $("#page").text(currentPage);
                            }
                        }
                    })
                }       
            })
            $("#prev").click(function () {
                if(currentPage>1){
                    currentPage--;
                    $.ajax({
                        url: "/major_change/Index1/null?currentPage=" + currentPage,
                        type: "post",
                        success: function (msg) {
                            var di = eval("(" + msg + ")");
                            var list = di["list"];
                            var pages = di["pages"];
                            $("#tb tr:gt(0)").remove();
                            for (var item in list) {
                                $tr = $("<tr></tr>");
                                $td1 = $('<td>' + dt[i]["first_kind_name"] + '</td>');
                                $td2 = $('<td>' + dt[i]["second_kind_name"] + '</td>');
                                $td3 = $('<td>' + dt[i]["third_kind_name"] + '</td>');
                                $td4 = $('<td>' + dt[i]["salary_standard_name"] + '</td>');
                                $td5 = $('<td>' + dt[i]["human_name"] + '</td>');
                                $td6 = $("<td class='TD_STYLE2'> <a href='/major_change/major_changeUpdate/" + dt[i]["huf_id"] + "'>调动</a></td>");
                                $tr.append($td1, $td2, $td3, $td4, $td5, $td6);
                                $("#tb").append($tr);
                                $("#page").text(currentPage);
                            }
                        }
                    })
                }
            });
            $("#first").click(function () {
                currentPage = 1;
                $.ajax({
                    url: "/major_change/Index1/null?currentPage=" + currentPage,
                    type: "post",
                    success: function (msg) {
                        var di = eval("(" + msg + ")");
                        var list = di["list"];
                        var pages = di["pages"];
                        $("#tb tr:gt(0)").remove();
                        for (var item in list) {
                            $tr = $("<tr></tr>");
                            $td1 = $('<td>' + dt[i]["first_kind_name"] + '</td>');
                            $td2 = $('<td>' + dt[i]["second_kind_name"] + '</td>');
                            $td3 = $('<td>' + dt[i]["third_kind_name"] + '</td>');
                            $td4 = $('<td>' + dt[i]["salary_standard_name"] + '</td>');
                            $td5 = $('<td>' + dt[i]["human_name"] + '</td>');
                            $td6 = $("<td class='TD_STYLE2'> <a href='/major_change/major_changeUpdate/" + dt[i]["huf_id"] + "'>调动</a></td>");
                            $tr.append($td1, $td2, $td3, $td4, $td5, $td6);
                            $("#tb").append($tr);
                            $("#page").text(currentPage);
                        }
                    }
                })
            });
            $("#last").click(function () {
                currentPage =pages;
                $.ajax({
                    url: "/major_change/Index1/null?currentPage=" + currentPage,
                    type: "post",
                    success: function (msg) {
                        var di = eval("(" + msg + ")");
                        var dt = di["data"];
                        var pages = di["pages"];
                        $("#tb tr:gt(0)").remove();
                        for (var i = 0; i < dt.length;i++) {
                            $tr = $("<tr></tr>");
                            $td1 = $('<td>' + dt[i]["first_kind_name"] + '</td>');
                            $td2 = $('<td>' + dt[i]["second_kind_name"] + '</td>');
                            $td3 = $('<td>' + dt[i]["third_kind_name"] + '</td>');
                            $td4 = $('<td>' + dt[i]["salary_standard_name"] + '</td>');
                            $td5 = $('<td>' + dt[i]["human_name"] + '</td>');
                            $td6 = $("<td class='TD_STYLE2'> <a href='/major_change/major_changeUpdate/" + dt[i]["huf_id"] + "'>调动</a></td>");
                            $tr.append($td1, $td2, $td3, $td4, $td5, $td6);
                            $("#tb").append($tr);
                            $("#page").text(currentPage);
                        }
                    }
                })
            })
            $("#tiao").click(function () {
                currentPage = $("#pages").val();
                alert(currentPage);
                $.ajax({
                    url: "/major_change/Index1/null?currentPage=" + currentPage,
                    type: "post",
                    success: function (msg) {
                        var di = eval("(" + msg + ")");
                        var list = di["list"];
                        var pages = di["pages"];
                        $("#tb tr:gt(0)").remove();
                        for (var item in list) {
                            $tr = $("<tr></tr>");
                            $td1 = $('<td>' + dt[i]["first_kind_name"] + '</td>');
                            $td2 = $('<td>' + dt[i]["second_kind_name"] + '</td>');
                            $td3 = $('<td>' + dt[i]["third_kind_name"] + '</td>');
                            $td4 = $('<td>' + dt[i]["salary_standard_name"] + '</td>');
                            $td5 = $('<td>' + dt[i]["human_name"] + '</td>');
                            $td6 = $("<td class='TD_STYLE2'> <a href='/major_change/major_changeUpdate/" + dt[i]["huf_id"] + "'>调动</a></td>");
                            $tr.append($td1, $td2, $td3, $td4, $td5, $td6);
                            $("#tb").append($tr);
                            $("#page").text(currentPage);
                        }
                    }
                })
            });
        });
    </script>
</body>
</html>
