@model  major_change 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.2.js"></script>
    <SCRIPT type="text/javascript">
        function time() {
            var tdate = document.getElementById("Tdate");
            var d = new Date();
            var y = d.getFullYear();
            var moth = d.getMonth() + 1;
            var date = d.getDate();
            var h = d.getHours();
            var m = d.getMinutes();
            var s = d.getSeconds();
            var hh = 20 - 1 - h;
            var mm = 60 - 1 - m;
            var ss = 60 - s;
            if (hh > 0) {
                mm = mm + 60 * hh;
            }
            if (moth < 10) {
                moth = "0" + moth;
            }
            if (date < 10) {
                date = "0" + date;
            }
            if (h < 10) {
                h = "0" + h;
            }
            if (m < 10) {
                m = "0" + m;
            }
            if (s < 10) {
                s = "0" + s;
            }
            if (mm < 10) {
                mm = "0" + mm;
            }
            if (ss < 10) {
                ss = "0" + ss;
            }
            tdate.value = y + "-" + moth + "-" + date + " " + h + ":" + m + ":" + s;
        }
        function load() {
            time();
            var tdate = document.getElementById("Tdate");
        }
        window.onload = load;
        var out = window.setInterval(time, 1000);
    </SCRIPT>
</head>
<body>
    <form method="post" action="/major_change/DDSH">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是:人力资源--调动管理--调动审核</font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="radio" name="check_status" value=2>通过
                    <input type="radio" name="check_status" value=3>不通过
                    <input type="submit" value="确认" class="BUTTON_STYLE1">
                    <input type="button" class="BUTTON_STYLE1" onclick="javascript:window.history.back();" value="返回">
                    <SCRIPT type="text/javascript">
                        function check() {
                            var rs = document.getElementsByName("majorChange.checkStatus");
                            if (rs[0].checked == false && rs[1].checked == false) {
                                alert("请选择通过或者不通过！");
                            } else {
                                function mySubmit() {
                                    if (document.getElementById("firstKindId").value == '0') {
                                        alert("请选择新一级结构！");
                                        return;
                                    }
                                    if (document.getElementById("newMajorKindId").value == '0') {
                                        alert("请选择新职位分类！");
                                        return;
                                    }
                                    if (document.getElementById("newMajorId").value == '0') {
                                        alert("请选择新职位名称！");
                                        return;
                                    }
                                    if (document.getElementById("newSalaryStandardId").value == '0') {
                                        alert("请选择新薪酬标准！");
                                        return;
                                    }
                                    document.forms[0].submit();
                                }
                                document.forms[0].submit();
                            }
                        }
                    </SCRIPT>
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr height="21">
                <td class="TD_STYLE1" width="8%">
                    档案编号
                </td>
                <td class="TD_STYLE2" width="10%">
                    <input type="hidden" name="mch_id" value=@Model.mch_id>
                    <input type="text" name="human_id" readonly="readonly"
                           value=@Model.human_id class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1" width="8%">
                    姓名
                </td>
                <td class="TD_STYLE2" width="10%">
                    <input type="text" name="human_name"
                           value=@Model.human_name readonly="readonly"
                           class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1" width="8%"></td>
                <td class="TD_STYLE2" width="10%"></td>
                <td class="TD_STYLE1" width="8%"></td>
                <td class="TD_STYLE2" width="10%"></td>
            </tr>
            <tr>
                <td class="TD_STYLE1" width="8%">
                    原一级机构
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="first_kind_name"
                           value=@Model.first_kind_name readonly="readonly" class="INPUT_STYLE2">
                    <input type="hidden" name="first_kind_id" value=@Model.first_kind_id>
                </td>
                <td class="TD_STYLE1" width="8%">
                    原二级机构
                </td>
                <td class="TD_STYLE2" width="10%">
                    <input type="text" name="second_kind_name"
                           value=@Model.second_kind_name readonly="readonly"
                           class="INPUT_STYLE2">
                    <input type="hidden" name="second_kind_id" value=@Model.second_kind_id>
                </td>
                <td class="TD_STYLE1" width="8%">
                    原三级机构
                </td>
                <td class="TD_STYLE2" width="10%">
                    <input type="text" name="third_kind_name"
                           value=@Model.third_kind_name readonly="readonly"
                           class="INPUT_STYLE2">
                    <input type="hidden" name="third_kind_id" value=@Model.third_kind_id>
                </td>
                <td class="TD_STYLE1" width="8%"></td>
                <td class="TD_STYLE2" width="10%"></td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    原职位分类
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="major_kind_name"
                           readonly="readonly"
                           value="@Model.major_kind_name" class="INPUT_STYLE2">
                    <input type="hidden" name="major_kind_id" value=@Model.major_kind_id>
                </td>
                <td class="TD_STYLE1" width="12%">
                    原职位名称
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="major_name"
                           value=@Model.major_name readonly="readonly"
                           class="INPUT_STYLE2">
                    <input type="hidden" name="major_id" value=@Model.major_id>
                </td>
                <td class="TD_STYLE1">
                    原薪酬标准
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="salary_standard_name"
                           value=@Model.salary_standard_name
                           readonly="readonly" class="INPUT_STYLE2">
                    <input type="hidden" name="salary_standard_id" value=@Model.salary_standard_id>
                </td>
                <td class="TD_STYLE1">
                    原薪酬总额
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="salary_sum"
                           value=@Model.salary_sum readonly="readonly"
                           class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    新一级机构名称
                </td>
                <td class="TD_STYLE2">
                    <script type="text/javascript">
                        $(function () {
                            $("#firstKindId").change(function () {
                                var Fname = $("#firstKindId option:checked").text();
                                $("#newFirstKindName").val(Fname);
                            });
                            $("#secondKindId").change(function () {
                                var Sname = $("#secondKindId option:checked").text();
                                $("#newSecondKindName").val(Sname);
                            });
                            $("#thirdKindId").change(function () {
                                var Tname = $("#thirdKindId  option:checked").text();
                                $("#newThirdKindName").val(Tname);
                            });
                            $("#newMajorKindId").change(function () {
                                var Nmkid = $("#newMajorKindId option:checked").text();
                                $("#newMajorKindName").val(Nmkid);
                            });
                            $("#newMajorId").change(function () {
                                var Nmid = $("#newMajorId  option:checked").text();
                                $("#newMajorName").val(Nmid);
                            });
                            $("#newSalaryStandardId").change(function () {
                                var Nsal = $("#newSalaryStandardId option:checked").text();
                                $("#newSalaryStandardName").val(Nsal);
                            });
                        });
                    </script>
                    @{
                        DataTable dt = ViewBag.dt;//分类
                        DataTable dt1 = ViewBag.dt1;//职位名称
                        DataTable dt2 = ViewBag.dt2;//薪资标准
                        DataTable dt3 = ViewBag.dt3;//新机构
                    }
                    <select style="width:160px" name="new_first_kind_id" id="firstKindId"  size="1" class="SELECT_STYLE2">
                        <option value=@Model.new_first_kind_id>@Model.new_first_kind_name</option>
                        @*@foreach (DataRow dr in dt3.Rows)
                        {
                            <option value=@dr["first_kind_id"]>@dr["first_kind_name"]</option>
                        }*@
                    </select>
                    <input type="hidden" name="new_first_kind_name" value=@Model.new_first_kind_name id="newFirstKindName">
                </td>
                <td class="TD_STYLE1" width="12%">
                    新二级机构名称
                </td>
                <td class="TD_STYLE2">
                    <select style="width:160px" name="new_second_kind_id" id="secondKindId" size="1" class="SELECT_STYLE2">
                        <option value=@Model.new_first_kind_id>@Model.new_second_kind_name</option>
                        @*@foreach (DataRow dr in dt3.Rows)
                        {
                            <option value=@dr["second_kind_id"]>@dr["second_kind_name"]</option>
                        }*@
                    </select>
                    <input type="hidden" name="new_second_kind_name" value=@Model.new_second_kind_name id="newSecondKindName">
                </td>
                <td class="TD_STYLE1" width="12%">
                    新三级机构名称
                </td>
                <td class="TD_STYLE2">
                    <select style="width:160px" name="new_third_kind_id" id="thirdKindId" size="1" class="SELECT_STYLE2">
                        <option value=@Model.new_third_kind_id>@Model.new_third_kind_name</option>
                        @*@foreach (DataRow dr in dt3.Rows)
                        {
                            <option value=@dr["third_kind_id"]>@dr["third_kind_name"]</option>
                        }*@
                    </select>
                    <input type="hidden" name="new_third_kind_name" value=@Model.new_third_kind_name id="newThirdKindName">
                </td>
                <td class="TD_STYLE1" width="8%"></td>
                <td class="TD_STYLE2" width="10%"></td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    新职位分类
                </td>
                <td class="TD_STYLE2">
                    <select style="width:160px" name="new_major_kind_id" id="newMajorKindId" size="1" class="SELECT_STYLE2">
                        <option value=@Model.new_major_kind_id>@Model.new_major_kind_name</option>
                        @*@foreach (DataRow dr in dt.Rows)
                        {
                            <option value=@dr["major_kind_id"]>@dr["major_kind_name"]</option>
                        }*@
                    </select>
                    <input type="hidden" name="new_major_kind_name" value=@Model.new_major_kind_name id="newMajorKindName">
                </td>
                <td class="TD_STYLE1" width="12%">
                    新职位名称
                </td>
                <td class="TD_STYLE2">
                    <select name="new_major_id" id="newMajorId" class="INPUT_STYLE2">
                        <option value=@Model.new_major_id>@Model.new_major_name</option>
                        @*@foreach (DataRow dr in dt1.Rows)
                        {
                            <option value=@dr["major_id"]>@dr["major_name"]</option>
                        }*@
                    </select>
                    <input type="hidden" name="new_major_name" value=@Model.new_major_name id="newMajorName">
                </td>
                <td class="TD_STYLE1">
                    新薪酬标准
                </td>
                <td class="TD_STYLE2">
                    <select style="width:160px" name="new_salary_standard_id" id="newSalaryStandardId" size="1" class="SELECT_STYLE2">
                        <option value=@Model.new_salary_standard_id>@Model.new_salary_standard_name</option>
                        @*@foreach (DataRow dr in dt2.Rows)
                        {
                            <option value=@dr["standard_id"]>@dr["standard_name"]</option>
                        }*@
                    </select>
                    <input type="hidden" name="new_salary_standard_name" value=@Model.new_salary_standard_name id="newSalaryStandardName">
                </td>
                <td class="TD_STYLE1">
                    新薪酬总额
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="new_salary_sum" id="newSalarySum" readonly="readonly"
                           value=@Model.new_salary_sum class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    登记人
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="register" readonly="readonly" value="better_admin" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    登记时间
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="regist_time" readonly="readonly" value=@Model.regist_time class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    复核人
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="checker" readonly="readonly" value="better_admin" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    复核时间
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="check_time" id="Tdate"  class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    调动原因
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="change_reason" rows="6" readonly="readonly" class="TEXTAREA_STYLE1">@Model.change_reason</textarea>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    复合通过意见
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="check_reason" rows="6" class="TEXTAREA_STYLE1"></textarea>
                </td>
            </tr>
        </table>
       
    </form>
</body>
</html>
